xml/DiretoriasFormatado.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="bienio">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ano_inicio" type="xs:unsignedShort" />
              <xs:element name="ano_fim" type="xs:unsignedShort" />
              <xs:element maxOccurs="unbounded" name="Presidente">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nome" type="xs:string" />
                    <xs:element minOccurs="0" name="instituicao" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="SecretariaExecutiva">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nome" type="xs:string" />
                    <xs:element minOccurs="0" name="instituicao" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SecretariaAdjunta">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nome" type="xs:string" />
                    <xs:element minOccurs="0" name="instituicao" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="Diretor">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nome" type="xs:string" />
                    <xs:element minOccurs="0" name="instituicao" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="conselheiro">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nome" type="xs:string" />
                    <xs:element minOccurs="0" name="instituicao" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>